body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cce5ff;
}

.container {
    max-width: 420px;
    margin: 80px auto;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 14px;
}

input {
    margin: 20px 0;
    width: 100%;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #198754;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #146c43;
}
