@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-500: #0b88c8;
  --brand-700: #21a0d6;
  color: #ffffff;
  background-color: var(--brand-300);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
